img#slide {
    margin: 0px auto;
   padding: 10px;
}
.about {
    text-align: center;
}
body {
background-color: blanchedalmond;}
a{
text-decoration: none; }
ul{
list-style-type:none;}
 li{
  float: left;
  padding: 10px;
  font-size: 25px; } 
  h1{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-style: normal;
    font-size: 90px; 
    font-weight:100;  
    text-align: left;
    display: block;}
    p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 28px;
        text-align: left;
        font-style: normal;
        color:orange; }